{% extends 'fruit_app/base.html' %}
{% load static %}

{% block infos %}
  <h3>🍎 Obst, Natürlich gesund!</h3>

  <p>Obst ist ein wichtiger Teil einer gesunden Ernährung. Es liefert Vitamine, Mineralstoffe und Ballaststoffe, die unser Körper täglich braucht.

    Regelmäßiger Obstverzehr stärkt das Immunsystem, fördert die Verdauung und senkt das Risiko für Krankheiten wie Herzprobleme oder Bluthochdruck. Besonders Früchte mit viel Vitamin C, etwa Orangen oder Kiwis, helfen, die Abwehrkräfte zu stärken.

    Da Obst natürlichen Zucker enthält, ist es eine bessere Energiequelle als Süßigkeiten. Außerdem sorgen die Ballaststoffe für ein gutes Sättigungsgefühl.

    Ernährungsexperten empfehlen, täglich zwei Portionen Obst zu essen – am besten frisch und abwechslungsreich.</p>
{% endblock %}
